<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginControl</servlet-name>
  	<display-name>LoginControl</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.LoginControl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserControl</servlet-name>
  	<display-name>UserControl</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.UserControl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginControl</servlet-name>
  	<display-name>AdminLoginControl</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.AdminLoginControl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VenueControl</servlet-name>
  	<display-name>VenueControl</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.VenueControl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayVenueControl</servlet-name>
  	<display-name>DisplayVenueControl</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.DisplayVenueControl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VenueDisplayControl</servlet-name>
  	<display-name>VenueDisplayControl</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.VenueDisplayControl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>New</servlet-name>
  	<display-name>New</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.New</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateVenue</servlet-name>
  	<display-name>UpdateVenue</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.UpdateVenue</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatedVenue</servlet-name>
  	<display-name>UpdatedVenue</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.UpdatedVenue</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewUpdate</servlet-name>
  	<display-name>NewUpdate</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.NewUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FoodInsertControl</servlet-name>
  	<display-name>FoodInsertControl</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.FoodInsertControl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayFood</servlet-name>
  	<display-name>DisplayFood</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.DisplayFood</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateFood</servlet-name>
  	<display-name>UpdateFood</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.UpdateFood</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DecorationInsertControl</servlet-name>
  	<display-name>DecorationInsertControl</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.DecorationInsertControl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayDecoration</servlet-name>
  	<display-name>DisplayDecoration</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.DisplayDecoration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateDecoration</servlet-name>
  	<display-name>UpdateDecoration</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.UpdateDecoration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EntertainmentInsertControl</servlet-name>
  	<display-name>EntertainmentInsertControl</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.EntertainmentInsertControl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayEntertainment</servlet-name>
  	<display-name>DisplayEntertainment</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.DisplayEntertainment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateEntertainment</servlet-name>
  	<display-name>UpdateEntertainment</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.UpdateEntertainment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InvitationInsertControl</servlet-name>
  	<display-name>InvitationInsertControl</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.InvitationInsertControl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayInvitation</servlet-name>
  	<display-name>DisplayInvitation</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.DisplayInvitation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateInvitation</servlet-name>
  	<display-name>UpdateInvitation</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.UpdateInvitation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PhotographyInsertControl</servlet-name>
  	<display-name>PhotographyInsertControl</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.PhotographyInsertControl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayPhotography</servlet-name>
  	<display-name>DisplayPhotography</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.DisplayPhotography</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePhotography</servlet-name>
  	<display-name>UpdatePhotography</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.UpdatePhotography</servlet-class>
  </servlet>
 <servlet>
  	<servlet-name>CorporateEventController</servlet-name>
  	<display-name>CorporateEventController</display-name>
  	<description></description>
  	<servlet-class>com.BlackPearl.web.controller.CorporateEventController</servlet-class>
  </servlet>

 
  <servlet-mapping>
  	<servlet-name>LoginControl</servlet-name>
  	<url-pattern>/LoginControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserControl</servlet-name>
  	<url-pattern>/UserControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginControl</servlet-name>
  	<url-pattern>/AdminLoginControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VenueControl</servlet-name>
  	<url-pattern>/VenueControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayVenueControl</servlet-name>
  	<url-pattern>/DisplayVenueControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VenueDisplayControl</servlet-name>
  	<url-pattern>/VenueDisplayControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>New</servlet-name>
  	<url-pattern>/New</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateVenue</servlet-name>
  	<url-pattern>/UpdateVenue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatedVenue</servlet-name>
  	<url-pattern>/UpdatedVenue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewUpdate</servlet-name>
  	<url-pattern>/NewUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FoodInsertControl</servlet-name>
  	<url-pattern>/FoodInsertControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayFood</servlet-name>
  	<url-pattern>/DisplayFood</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateFood</servlet-name>
  	<url-pattern>/UpdateFood</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DecorationInsertControl</servlet-name>
  	<url-pattern>/DecorationInsertControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayDecoration</servlet-name>
  	<url-pattern>/DisplayDecoration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateDecoration</servlet-name>
  	<url-pattern>/UpdateDecoration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EntertainmentInsertControl</servlet-name>
  	<url-pattern>/EntertainmentInsertControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayEntertainment</servlet-name>
  	<url-pattern>/DisplayEntertainment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEntertainment</servlet-name>
  	<url-pattern>/UpdateEntertainment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InvitationInsertControl</servlet-name>
  	<url-pattern>/InvitationInsertControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayInvitation</servlet-name>
  	<url-pattern>/DisplayInvitation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateInvitation</servlet-name>
  	<url-pattern>/UpdateInvitation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PhotographyInsertControl</servlet-name>
  	<url-pattern>/PhotographyInsertControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayPhotography</servlet-name>
  	<url-pattern>/DisplayPhotography</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePhotography</servlet-name>
  	<url-pattern>/UpdatePhotography</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
  	<servlet-name>CorporateEventController</servlet-name>
  	<url-pattern>/getVenueResult</url-pattern>
  </servlet-mapping>

</web-app>
